.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-small-2 {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.text-white {
  color: $color-white !important;
}

.text-grey {
  color: $color-grey-5 !important;
}
